APP_NAME=Laravel
APP_ENV=local
APP_KEY=
APP_DEBUG=true
APP_URL=http://localhost

LOG_CHANNEL=stack
LOG_DEPRECATIONS_CHANNEL=null
LOG_LEVEL=debug

DB_CONNECTION=mysql
DB_HOST=127.0.0.1
DB_PORT=3306
DB_DATABASE=laravel
DB_USERNAME=root
DB_PASSWORD=

BROADCAST_DRIVER=log
CACHE_DRIVER=file
FILESYSTEM_DRIVER=local
QUEUE_CONNECTION=sync
SESSION_DRIVER=file
SESSION_LIFETIME=120

MEMCACHED_HOST=127.0.0.1

REDIS_HOST=127.0.0.1
REDIS_PASSWORD=null
REDIS_PORT=6379

MAIL_MAILER=smtp
MAIL_HOST=mailhog
MAIL_PORT=1025
MAIL_USERNAME=null
MAIL_PASSWORD=null
MAIL_ENCRYPTION=null
MAIL_FROM_ADDRESS=null
MAIL_FROM_NAME="${APP_NAME}"


DOMAIN=auth
JWT_PASSPHRASE=laravelSecret

AUTH_PRIVATE_KEY="-----BEGIN RSA PRIVATE KEY-----
Proc-Type: 4,ENCRYPTED
DEK-Info: DES-EDE3-CBC,EC9301EED3C4F559

o17VbVDMvRjug1bVcGENpTj0EX4meQXyPRcjoNkrRpD+bg0SyAg3Qj0hOoj2hPII
ZHWgJv8HTCvzGJePt89RC1iPHQ1ODrF0Bk1nH6IEEUvCT+vwNNVqjlJaGhzjNtdU
qR+TcU4Ddwtf4dMmBZAFVCvktrwQ3o/fu34MRkLaaptLkITgwS6huYPeJ4REnlCI
3q3DbMcoUNI4UunfZKneNhqjmCOx4Coa/ImYLgk9AOK/ohHkQfy+s2dceAqFJNsw
2fY921AtznXKd9D7kOb9FhiFnOzkywLPxGNSpzZM3VKjWRaPTaXN6DGscWlKFxYa
yJ7ZUWz0SMCLD6M0TSxPZx+5QteUUr07a16rVKHysHEgu+2WFZJZ7iQ0pU7MEuz7
4ZvKO8YqGwD4dGXpSgMTQ1ecw3e/CDHkYF17N3wC5kJtdbhR9LuLR4dOS665IBXV
ST/lq0xEbsW6TWv+4hR91jksBaRYd4wwN2VJmFTJO1gKlxjfCeBXsXlhT6EnCIe5
3tVwTOAzUyptUAguK5fAgFbT6Kzrg8ABj2rPdzaJKAebXWzNkexobuyJl32ITIOG
tKS4Ns8Bl+c/Qa8NdcyRYMzbUuW+DxOubICnQjVZG83YkVvLagCl/REH7MYWkuUe
ZFCMLEQjqHDRpV6OpKKFkJkxYEUG9lWNL98geAnUrk7KKQm0NRocvDBbwPEapCie
fipPL6O2SuWWDS9gCDaodMuXrdTORLnnW7CEX7kOcyoXupzM0tX0KiiaaeW2cJiA
nrGtFrCGTCPVIvnLdHDGcqRUwDh6wxq/3Ujj8jNFwxC+mm4TnEnyUq3Saj4u/5ZU
bJXroZcjPgMoaZhhGmYoMF8outvuMxLv9It3vf9yyUnwQB4wfTY3DzhTKGPO7UeN
t6zq/8zRPFTGZzpMQw+oG3tqExhuJK1S/TcIfPQ2Oaci/ndCKJm2a/c7aYLF1yCo
Rrkof4X8/puQK7UTgILi7sl4KaKMwMAiuSDK+3CAdqcXv5A2wFbvYP/iPas6iZDY
B1si43slaMeQF3T6yosHXrH9RlrWixTnN/vDsGtg5OlwMQccaGvaNs1p6doDtf9I
6jkIKQa2mpvL4KhDEsp3uipINKMI6SZaEoKv4/SWfyrAn83MYiK6J486M1DW/KrB
6eGHhmOdjHIA3lQ9VMVxC4q19jzEmuLclyPIEm9S/IRFTmNkaNAUVGrXm+VQFjPy
AfEJGxX7iWrNmby7dcqAeQybYyAwhrtzd/CzVbXgJFaslOA4ULfL8TxyB7x+7txB
P/S73nP1JISYoNr/ye/CcWl2wqCySGhwQS0cgtYOarGzfEYtXprq38r0Z1yQX3hW
D/LJlPYcvLCrfrtFxVZ2BNRmhlWPYJXV2meZG1tvPLlxUY5b2XUl5A4PpoWmEeaj
mHUkc0SDNQIcpkxgiYtPg+3ScV9hl/T/czxx3mQov78+HAntSj5mYd5ugTiCNgI3
rrtxV3Pu2D1icr4Mhcfr2i1qD+XaXgnaqqapWs+3oKTRgmDGT9w5lyPpWz7UZ6Q1
mFrK3VUMDR+/e1xCutR3fmr98eBvh7OObWzG7/kG2If8tZAOVoajBlu0Wa8zzVWT
-----END RSA PRIVATE KEY-----
"

AUTH_PUBLIC_KEY="-----BEGIN PUBLIC KEY-----
MIIBIjANBgkqhkiG9w0BAQEFAAOCAQ8AMIIBCgKCAQEA3N/gE02NkCYNsycieUQg
U9KPf/4dYBfvL9Ky94E/O7Zkji18QbEt+LowjWIm6LAqLIRwsdReuQyq3421WSEs
f+6DOU4SP83gD5W4XB6eDnsrF5+kbkKVAnoxLZzLIN5re6cbFEeB5CpxncruoiWQ
19e8P+O2gMLKJidfxgdx1hqvIEKNcBoy2KeyC7WB04LR7CXNMibWRRRqgkkTrKdJ
DulHg2U23H7wSndP8ZH+dEGJ1c+UCxV4eJa3H+qyImENC42TK2jBm39IZZuMSfTA
X/KKwnxHqRAD/k+y4I4zIcRhqQWYOa+U8eUqLF9XBuFpdtGViLBXXZ/m4SroCbgq
IwIDAQAB
-----END PUBLIC KEY-----
"
